<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>US Postal Service - Rate Calculator</title>
  <meta name="description" content="The HTML5 Herald">
 

  <link rel="stylesheet" href="css/styles.css?v=1.0">
<style>
    .halfpage {
        width:30%; 
        float:left;
    }
    form {
        border:grey thin solid;
        padding:10px;
    }
    </style>  
</head>

<body>
    <h2>USPS - Rate Calculator</h2>