<% include ../partials/header.ejs %>
    <div class="halfpage"><% include ../partials/form.ejs %></div>
    <div class="halfpage"><br><br><p><b>&nbsp;&nbsp;&nbsp;Mailing Price:</b> $<%= price %></p>
    <br></div>
  
</body>
</html>