<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  
</head>

<body>
  <p><b>The mailing price will be:</b> $<%= price %></p>
    <br>
    <a href="index.html">Calculate another mailing</a>
</body>
</html>